/* variables for adding borders globally. Use for testing purposes */
$border-width: none;
$border-style: $border-width thin red;
$ispel-darkblue: #026D8A;

@import "../css/nav_styles.css";
@import "../css/dashboard_card.css";
@import "../css/footer_styles.css";
@import "../css/toggle_switch_styles.css";

body {
  margin: 0;
  min-width: 1000px;
}

.dashboard_main_container {
  width:100%;
  border: $border-style;
}

.dashboard_container_one {
  width:100%;
  border: $border-style;
  padding: 2.5em 0 7em 0;

  .dashboard_exploratory_switch {
    font-weight: 600;
    color: #be282f;
    width: 90%;
    margin: 0 auto;
    border: $border-style;
    text-align: right;

    .toggle_switch {
      margin-left:5px;
    }
  }

  .dashboard_title {
    font-size: 3.5em;
    font-weight: 700;
    color: $ispel-darkblue;
    width: 80%;
    margin: 0 auto;
    border: $border-style;
  }

  .dashboard_subtitle {
    font-size: 1.6em;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
    border: $border-style;

    .dashboard_icon {
      position: relative;
      top: 2px;
      margin-right: 8px;
    }
  }
}

.dashboard_container_two {
  width: 100%;
  background-color: #efefef;

  .dashboard_card_container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -4.7em;
  }
  //.dashboard_cards {
  //  width: 80%;
  //  margin: 0 auto;
  //  border: $border-style;
  //}
}
