/* Navigation */

/* Variables for adding borders globally. Use for testing purposes */
$border-width: solid;
$border-style-green: $border-width thin green;
$border-style-red: $border-width thin red;
$ispel-lightblue: #3392AE;
$line-rule-border: solid thin #BEC0C2;
$nav-vertical-padding: 10px;

/* Navigation Fonts */
@import url('https://fonts.cdnfonts.com/css/palatino-linotype');  /* Palatino Linotype https://www.cdnfonts.com/palatino-linotype.font */

/* General styles---------------- */
.ispel_nav {
  font-family: 'Palatino Linotype', Palatino, Georgia, serif;
  overflow: hidden;
  border-bottom: $line-rule-border;
}

.ispel_nav li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* Left Nav Bar--------------------- */
.ispel_nav_left {
  font-size: 0.9em;

  .ispel_nav_item {
    padding: ($nav-vertical-padding + 8px) 30px ($nav-vertical-padding + 5) 30px;
  }

  /* Right margin on ispel logo */
  li:first-child {
    margin-right: 50px;
  }
}

/* Right Nav Bar----------------------- */
.ispel_nav_logo {
  width:6.5em;
  padding: ($nav-vertical-padding + 3px) 40px $nav-vertical-padding 40px;
}

.ispel_nav_right {
    font-size: 0.8em;
    float: right;
    margin-right: 40px;

    .ispel_nav_item {
      align-content: center;
      padding: ($nav-vertical-padding - 5px) 15px ($nav-vertical-padding - 5px) 15px;
      margin: 15px 0 10px 0;
    }

    .ispel_nav_item:first-child {
      border-right: $line-rule-border;
    }
}

/* Specificities----------------- */
.explore_icon {
  position: relative;
  margin-top:-4px;  // The icon makes the containing element taller, so this offsets the extra size.
  top:2px;
  left:0;
}

.ispel_nav li:hover {
  background-color: #ddd;
  color: black;
}

//.ispel_nav a.active li {
//  background-color: #EFEFEF;
//  color: white;
//}

